.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {

}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.menu-item {
  font-size: 14px;
  color: #929393;
  height: 50px;
  display: flex !important;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-bottom-width: 1px;
}
.menu-item > img {
  margin-right: 15px;
}
.menu-item-active {
  color: #050708;
  background: #f3f2f0;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-right-width: 6px;
}
