@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #EDEDED;
  height: calc(100% - 50px);
  margin-top: 50px;
  overflow-y: auto;
}

.root {
  height: 100%;
}
