.project_wrapper{
background-color: #FFFFFF;
padding: 30px;
margin-left: 20%!important;
margin-right: 20%!important;
-webkit-box-shadow: 10px 11px 10px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 11px 10px -7px rgba(0,0,0,0.75);
box-shadow: 10px 11px 10px -7px rgba(0,0,0,0.75);
}
.editPublication{
padding-top: 80px;
padding-bottom: 80px;
}
.ui.grid.grid
{
  margin-top: 0px;
}
.publication_header{
  padding-bottom: 10px;
}
